/*
* Style for main avatar modal.
*/

.parent {
  min-height: 550px;
  min-width: 450px;
}

.padded {
  padding: 10px;
}

/*
* Make the top nav the appropriate height.
*/

.navbar-xs {
  min-height: 28px;
  height: 28px;
}
.navbar-xs .navbar-inverse .navbar .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 28px;
}

/*
* Set the nav toggle color.
*/

.topMenuDisplay {
  color: white;
  font-size: 27px;
  float: right;
  right: 10px;
}
.profileName {
  color: white;
  font-size: 13pt;
  float: left;
  left: 10px;
  position: absolute;
}

/*
* Utility CSS
*/

.hidden {
  display: none; 
}

.im-centered {
  margin: auto;
  max-width: 440px;
  min-width: 440px;
}
